---

---

<header class="">

    <div class="p-2 mx-auto flex items-center justify-between pt-2 px-12">
        <div class="flex items-center space-x-4">
            <img src="/Logo.webp" alt="Logo" class="h-12" />
          </div>

        <div class="flex items-ce   nter space-x-2">
            <img src="/contact-icon.png" alt="Contacto" class="h-8" />
            <span>Contacto</span>
        </div>
    </div>

    <div class="text-white py-5 mt-2 shadow-lg px-36 bg-gradient-to-r from-grismfw to-verdemfw flex justify-between">
    
        <nav class="hidden md:flex space-x-4 items-center text-lg">
            <a href="/" class="hover:text-white">Home</a>
            <a href="/about" class="hover:text-white">About</a>
        </nav>

        <nav class="hidden md:flex space-x-4 items-center text-lg">
            <a href="/productos/ganchos" class="hover:text-white">Ganchos</a>
            <a href="/productos/instrumentos" class="hover:text-white">Instrumentos</a>
            <a href="/productos/solares" class="hover:text-white">Solares</a>
            <a href="/productos/cables" class="hover:text-white">Cables</a>
        </nav>
      
    </div>
  </header>